/*
 * NEA -------- +
 * nü entroarch |
 * ------------ +
*/

@import url("../fonts/fonts.css");

:root {
    --header-height: 4.5rem;
    --footer-height: 2.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "ShureTechMonoNerdFontMono-Regular", monospace;
    background: var(--bg);
    color: var(--txt);
    line-height: 1.6;
    font-size: 1rem;
    overflow: hidden;
    height: 100vh;
}

main {
    height: 100vh;
    padding: 0 1rem;
    overflow-y: auto;
    display: grid;
    place-items: center;
    scrollbar-gutter: stable;
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0,
        black calc(var(--header-height) + 2rem),
        black calc(100% - var(--footer-height) - 2rem),
        transparent calc(100% - var(--footer-height))
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0,
        black calc(var(--header-height) + 2rem),
        black calc(100% - var(--footer-height) - 2rem),
        transparent calc(100% - var(--footer-height))
    );
}

header,
footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header {
    font-size: 0.8rem;
    top: 0;
    height: var(--header-height);
    border-bottom: 1px solid var(--acc);
}

header h1 {
    font-family: "DepartureMono", monospace;
    font-size: 1.5rem;
    line-height: 1.1;
}

/*
header p {
    font-size: 0.85rem;
    opacity: 0.75;
}
*/

/*
button,
input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--bg);
    color: var(--txt);
    border: 2px solid var(--txt);
    padding: 0.1em 0.4em;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out;
}

button:hover,
button:focus-visible,
input[type="submit"]:hover,
input[type="submit"]:focus-visible {
    background-color: var(--txt);
    color: var(--bg);
}
*/

/* Footer */
/*
footer {
    bottom: 0;
    height: var(--footer-height);
    border-top: 1px solid var(--acc);
}
*/

footer {
    font-family: "DepartureMono", monospace;
    font-size: 0.8rem;
    bottom: 0;
    height: var(--footer-height);
    background: var(--txt);
    color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    padding-bottom: 0.8rem;
}

/*
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

footer a {
    font-family: "ShureTechMonoNerdFontMono-Regular", monospace;
    color: var(--txt);
    font-size: 0.8rem;
    text-decoration: none;
    transition: color 0.15s;
}

footer a:hover,
footer a:focus {
    color: var(--acc);
    outline: none;
}

footer small {
    font-family: "ShureTechMonoNerdFontMono-Regular", monospace;
    color: var(--txt);
    font-size: 0.85rem;
    margin-top: 0.5rem;
}
*/

footer a {
    color: var(--bg);
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.15s;
}

footer a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-left {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Entries */
.entries-stack {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
}

.entries-stack::before,
.entries-stack::after {
    content: "";
    display: block;
}

.entries-stack::before {
    height: var(--header-height);
}

.entries-stack::after {
    height: var(--footer-height);
}

.entry-title {
    font-size: 1.05rem;
    color: var(--txt);
    font-family: "ShureTechMonoNerdFontMono-Regular", monospace;
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 1px;
    text-align: center;
    /* margin-bottom: 0.2rem; */
    transition:
        color 0.15s,
        text-decoration-color 0.15s;
}

.entry-title:hover,
.entry-title:focus {
    color: var(--acc);
    text-decoration-color: var(--acc);
    outline: none;
}

/* Responsiveness */
@media (min-width: 768px) {
    main {
        -webkit-mask-image: none;
        mask-image: none;
    }

    .entries-stack {
        grid-template-columns: repeat(2, 1fr);
        max-width: 550px;
        gap: 1.5rem;
        padding: 2rem 0;
    }

    .entries-stack::before,
    .entries-stack::after {
        display: none;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 0.9rem;
    }

    footer {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    main {
        -webkit-mask-image: none;
        mask-image: none;
    }

    .entries-stack {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        max-width: 750px;
    }

    .entries-stack::before,
    .entries-stack::after {
        display: none;
    }

    .entry-title {
        font-size: 1.25rem;
    }

    header h1 {
        font-size: 2.2rem;
    }

    header p {
        font-size: 1.2rem;
    }

    footer {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        padding-bottom: 0;
    }
}
