/* Palette::main::B34UTY-S133P */
.b34uty-s133p {
    --background: oklch(0 0 0);
    --text: oklch(0.625 0.217 352.4);
    --accent: oklch(0.367 0.057 261.3);
    --secondary: oklch(0.489 0.041 187);
    --tertiary: oklch(0.305 0.089 270.8);
}

/* Palette::alternative::trash-panda */
.trash-panda {
    --background: oklch(0.171 0.008 297);
    --text: oklch(0.861 0.068 53.6);
    --accent: oklch(0.359 0.017 322);
    --secondary: oklch(0.678 0.106 20.2);
    --tertiary: oklch(0.244 0.019 284.9);
}

/* Palette::alternative2::digital-paper */
.digital-paper {
    --background: oklch(0.115 0 0);
    --text: oklch(0.97 0 0);
    --accent: oklch(0.704 0.023 223.1);
    --secondary: oklch(0.455 0.046 268.8);
    --tertiary: oklch(0.931 0.153 134.9);
}

/* Palette::alternative3::sadakiyo5 */
.sadakiyo5 {
    --background: oklch(0.457 0.031 285.1);
    --text: oklch(0.837 0.064 1);
    --accent: oklch(0.654 0.004 197.1);
    --secondary: oklch(0.908 0.06 172.1);
    --tertiary: oklch(0.951 0.006 17.3);
}

/* Palette::alternative4::Hammer-&-Sickle-5 */
.hammer-sickle-5 {
    --background: oklch(0.145 0 0);
    --text: oklch(0.962 0.041 85.3);
    --accent: oklch(0.547 0.189 32.2);
    --secondary: oklch(0.65 0.14 64.2);
    --tertiary: oklch(0.518 0.039 84.4);
}
