/* fonts/fonts.css */
@font-face {
    font-family: "DepartureMono";
    src: url("DepartureMonoNFM-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ShureTechMonoNerdFontMono-Regular";
    src: url("ShureTechMonoNFM.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
